# {{ ansible_managed }}
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: {{ k8s_cluster_tls }}
imageRepository: {{ k8s_image_repository | default('k8s.gcr.io', true) }}
networking:
  serviceSubnet: {{ k8s_pod_network_cidr | default('10.96.0.0/12', true) }}
